.main-cart-container {


 .inner-cart-container {
  width: 100%;
 }

 .cart-container {
  margin-left: 20px;
  width: 100%;
  min-height: 300px;
  background-color: white;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10px;
 }

 .cart-title {
  font-size: 20px;
  color: hsl(14, 86%, 42%)
 }

 .cart-contents {
  margin: 0 auto;
  margin-top: 40px;
  width: 200px;
 }

 .empty-cart-img {
  height: 130px;
  margin: 0 auto;
  margin-left: 25px;
  /* border: 1px solid black; */
 }

 p {
  color: hsl(7, 20%, 60%);
  font-weight: 500;
  font-size: 12px;
 }



 .added-cart-items-container {
  /* border: 1px solid black; */
  width: 95%;
 }

 .added-cart-items-list {
  list-style-type: none;
  padding: none;
  margin: none;
  /* width: 95%; */
  /* border: 1px dotted hotpink; */
 }

 .added-cart-item {
  border-bottom: 1px solid hsl(13, 31%, 94%);
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
 }

 .cart-item-title {
  color: hsl(14, 65%, 9%);
  font-weight: 500;
  font-size: 12px;
  padding-bottom: 7px;
 }

 .cart-item-price-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* border: 1px solid black; */
  width: 120px;
  color: hsl(7, 20%, 60%);
  font-size: 12px;
 }

 .remove-item-from-cart-bttn {
  border-radius: 50%;
  border: 1px solid hsl(7, 20%, 60%);
  background-color: white;
  height: 13px;
  width: 13px;
  position: absolute;
  top: 40%;
  right: 0;
 }

 .remove-item-from-cart-bttn img {
  height: 7px;
  align-self: center;
  margin-bottom: 3px;
 }



 .cart-total-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
 }

 .cart-total-container p {
  font-size: 12px;
  color: hsl(7, 20%, 60%);
 }

 .cart-total-container h1 {
  font-size: 17px;
 }


 .carbon-neutral-container {
  height: 40px;
  padding-top: 10px;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: hsl(20, 50%, 98%);
  /* border: 1px solid black; */
 }

 .carbon-neutral-contents {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
  width: 64%;
  margin: 0 auto;
  justify-content: space-between;
 }

 .carbon-neutral-contents img {
  height: 17px;
 }

 .carbon-neutral-contents p {
  font-size: 10px;
 }

 .confirm-order-bttn-container {
  /* border: 1px solid black; */
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;
  padding-bottom: 20px;
 }

 .confirm-order-bttn {
  background-color: hsl(14, 86%, 42%);
  border: none;
  height: 40px;
  width: 100%;
  border-radius: 20px;

  p {
   color: white;
  }

 }

 .confirm-order-bttn:hover {
  cursor: pointer;
  background-color: hsl(14, 85%, 33%);
 }


 .order-confirmed-container {
  background-color: hsla(14, 65%, 9%, 0.326);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;

  .order-confirmed-receipt {
   background-color: white;
   border-radius: 10px;
   padding-top: 30px;
   padding-bottom: 20px;

   .order-confirmed-dialog-container {
    width: 90%;
    margin: 0 auto;

    h1 {
     margin-bottom: 5px;
    }

    p {
     margin-bottom: 20px;
    }
   }

   .order-confirmed-img {
    height: 35px;
    margin-bottom: 10px;
   }

   .submitted {
    background-color: hsl(20, 50%, 98%);
    width: 90%;
    max-height: 280px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: auto;

    li {
     width: 90%;
     margin: 0 auto;
     border-bottom: 1px solid hsl(13, 31%, 94%);
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     /* border: 1px solid blue; */
    }

    .cart-total-container {
     /* border: 1px solid black; */
     margin: 0 auto;
     width: 90%;
    }

   }

  }

  .submitted-img-price-info {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   /* border: 1px solid black; */
  }

  .submitted-item-pricing {
   /* border: 1px solid black; */
   width: 70px;
  }



  .order-submit-thumbnail {
   height: 40px;
   border-radius: 4px;
   margin-right: 10px;
  }
 }


 .start-new-bttn {
  display: block;
  width: 90%;
  margin: 0 auto;
  margin-top: 20px;

  span {
   color: white;
  }
 }


}

@media screen and (min-width: 1013) {
 .main-cart-container {
  width: 28%;
 }
}

@media screen and (min-width:602px) {
 .main-cart-container {
  width: 100%;
 }

 .order-confirmed-receipt {
  margin: 0 auto;
  margin-top: 120px;
  max-width: 400px;
  min-height: 500px;
 }

 .order-confirmed-dialog-container {

  h1 {
   font-size: 35px
  }

  p {
   font-size: 11px;
  }
 }
}

@media screen and (max-width: 601px) {
 .main-cart-container {
  min-width: 80%;
  margin: 0 auto;
 }

 .order-confirmed-receipt {
  min-width: 100%;
  height: 100vh;
  margin-top: 100px;
 }

 .order-confirmed-dialog-container {

  h1 {
   font-size: 37px
  }

  p {
   font-size: 14px;
  }
 }
}