.main-cart-container {
 /* position: fixed; */
 width: 28%;

 .cart-container {
  margin-left: 20px;
  width: 100%;
  min-height: 300px;
  background-color: white;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 10px;

  .cart-title {
   font-size: 20px;
   color: hsl(14, 86%, 42%)
  }

  .cart-contents {
   margin: 0 auto;
   margin-top: 40px;
   width: 200px;

   .empty-cart-img {
    height: 130px;
    margin: 0 auto;
    margin-left: 25px;
    /* border: 1px solid black; */
   }

   p {
    color: hsl(7, 20%, 60%);
    font-weight: 500;
    font-size: 12px;
   }
  }


  .added-cart-items-container {
   /* border: 1px solid black; */
   width: 95%;

   .added-cart-items-list {
    list-style-type: none;
    padding: none;
    margin: none;
    /* width: 95%; */
    /* border: 1px dotted hotpink; */
   }

   .added-cart-item {
    border-bottom: 1px solid hsl(13, 31%, 94%);
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;

    .cart-item-title {
     color: hsl(14, 65%, 9%);
     font-weight: 500;
     font-size: 12px;
     padding-bottom: 7px;
    }

    .cart-item-price-container {
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     /* border: 1px solid black; */
     width: 120px;
     color: hsl(7, 20%, 60%);
     font-size: 12px;
    }

    .remove-item-from-cart-bttn {
     border-radius: 50%;
     border: 1px solid hsl(7, 20%, 60%);
     background-color: white;
     height: 13px;
     width: 13px;
     position: absolute;
     top: 40%;
     right: 0;

     img {
      height: 7px;
      align-self: center;
      margin-bottom: 3px;
     }
    }
   }

   .cart-total-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;

    p {
     font-size: 12px;
     color: hsl(7, 20%, 60%);
    }

    h1 {
     font-size: 17px;
    }
   }

   .carbon-neutral-container {
    height: 40px;
    padding-top: 10px;
    width: 90%;
    margin: 0 auto;
    border-radius: 5px;
    background-color: hsl(20, 50%, 98%);
    /* border: 1px solid black; */

    .carbon-neutral-contents {
     display: flex;
     align-items: center;
     /* border: 1px solid black; */
     width: 64%;
     margin: 0 auto;
     justify-content: space-between;

     img {
      height: 17px;
     }

     p {
      font-size: 10px;
     }

    }

   }

   .confirm-order-bttn-container {
    /* border: 1px solid black; */
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    padding-bottom: 20px;

    .confirm-order-bttn {
     background-color: hsl(14, 86%, 42%);
     color: white;
     border: none;
     height: 40px;
     width: 100%;
     border-radius: 20px;

    }

    .confirm-order-bttn:hover {
     cursor: pointer;
    }
   }

  }

 }
}